<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:eagle="http://www.zhaoljhpeng.cn/schema/eagle"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.zhaoljhpeng.cn/schema/eagle
       http://www.zhaoljhpeng.cn/schema/eagle/eagle.xsd">

    <bean id="storeService"  class="com.zhaopeng.demo.provider.StoreServiceImpl" scope="prototype"></bean>

    <eagle:registry address="127.0.0.1:2181"></eagle:registry>

    <eagle:application port="8080" protocol="netty"></eagle:application>

    <eagle:service interfaceName="com.zhaopeng.demo.api.StoreService" ref="storeService"></eagle:service>
</beans>
