<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:eagle="http://www.zhaoljhpeng.cn/schema/eagle"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.zhaoljhpeng.cn/schema/eagle
       http://www.zhaoljhpeng.cn/schema/eagle/eagle.xsd">

    <eagle:reference id="userService" interface="com.api.service.UserService"></eagle:reference>

</beans>
